extends layout
block header_addon
  link(rel='stylesheet', href='/css/lib/home.css')
block content
  .container.fit_100
    .col-md-4
      .card.card--big.animated.fadeIn
        //- div.card__image(style='background-image: url(http://i.imgur.com/8ki2fuE.jpg)')
        h2.card__title Empty title
        span.card__subtitle By Lorem Ipsum  
        p.card__text temp texp
        div.card__action-bar
          button.card__button temp text
    .col-md-4
      .card.card--small.animated.fadeIn
        //- div.card__image(style='background-image: url(http://i.imgur.com/8ki2fuE.jpg)')
        h2.card__title Empty title
        span.card__subtitle By Lorem Ipsum  
        p.card__text temp texp
        div.card__action-bar
          button.card__button temp text
    .col-md-4
      .card.card--small.animated.fadeIn
        //- div.card__image(style='background-image: url(http://i.imgur.com/8ki2fuE.jpg)')
        h2.card__title Empty title
        span.card__subtitle By Lorem Ipsum  
        p.card__text temp texp
        div.card__action-bar
          button.card__button temp text
    

 
      
block footer_addon
  script(src='/js/home/main.js')
  
  
